# Editor directories
/.vscode
/.vs
/.idea

# Output directories
/build
/bin
/out

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Kyn files
*.kyn

# MacOS Cache files
*.DS_Store